@{
    ViewBag.Title = "出现错误啦";
}

@section Styles{
    <link href="~/assets/css/pages/page500.css" rel="stylesheet" type="text/css" />
}

<div class="page-container">

    <!-- 主体 -->
    <div class="container margin-bottom-40">
        <div class="row">
            <div class="col-md-12 page-500">
                <div class="number">
                    Error !
                </div>
            </div>
        </div>
    </div>
    <!-- 结束 主体 -->
</div>

@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
        });
    </script>
}
