@{
    ViewBag.Title = "页面待完善";
}

<div class="page-container">

    <!-- 主体 -->
    <div class="container margin-top-20 margin-bottom-40">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="col-lg-offset-2 col-md-8 ">
                    <img src="~/assets/img/page_empty_small.png" alt="待完善" class="img-responsive"/>
                </div>
            </div>
        </div>
    </div>
    <!-- 结束 主体 -->
</div>

@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
        });
    </script>
}
